.center {
    text-align: center;
}

.red-border:focus,
.red-border:active,
.red-border:hover {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid red;
}

.red-button {
    background-color: red;
    border-color: red;
    color: white;
}

.red-button:focus,
.red-button:active,
.red-button:hover {
    background-color: red;
    border-color: red;
    color: white;
    outline: none;
    box-shadow: none;
}

.heading {
    margin-top: 1em;
}

#phone {
    border-radius: 0 0.3em 0.3em 0;
}