*::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
}

.normal_cursor {
    cursor: default;
}

.glow_bg{
    
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.540);
}

#logo {
    width: 50%;
    padding-left: 2%;
}

#logo_img {
    width: auto;
    height: calc(10vh - 5vh);
}

#nav_bar_element {
    width: 50%;
    padding-right: 2%;
}

#nav_items {
    width: 60%;
    padding: 0;
    margin: 0;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white;
}

.nav_links {
    color: white;
    transition: .2s;
    font-family: Nexa-Heavey;
}

.nav_links:hover {
    transform: scale(1.2);
    text-shadow: rgba(0, 0, 0, 0.543) 0px 0px 10px;
}

a:link {
    text-decoration: none;
}

#home_page,
#about_page,
#projects_page,
#contact_page {
    /* position: relative; */
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#about_page {
    background-color: #151515;
}

#projects_page {
    background-color: #151515;
}